#version=RHEL8

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel

# Use text install
text

# Disable the Setup Agent on first boot
firstboot --disable

# Accept Eula
eula --agreed

# Reboot when the install is finished.
reboot

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# Use CDROM installation media
cdrom

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --onboot=on --ipv6=auto --activate
network  --hostname=centos8.localdomain

repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Root password
rootpw --iscrypted $6$NXZ5mszkMlQw4ysT$nLz5px0yIIGYxhfAVvD4lmsn4aEX9ER.eYXufgQb5NPTeZUY8.EwynMkZNbWcjR17/UPRHzbqkh5rVL/3xIMY.

# System services
services --enable="chronyd"

# System timezone
timezone Europe/Amsterdam --ntpservers 0.ntp.proserve.nl,1.ntp.proserve.nl,2.ntp.proserve.nl

# Proserve user password
user --name=proserve --password=$6$3cJ8vhyaPyMCjdnw$BCPj5GkWo/CNz2oecFfjcpyOBw2dzcTWUePCcURIFw0Cv1LuEI0w8My9S5.jJamc4mDET50qDohbpmL3uaDoy/ --iscrypted --gecos="proserve"

# Disk partitioning information
part /boot/efi --fstype="efi" --grow --maxsize=200 --size=20 --ondisk=sda
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.01 --fstype="lvmpv" --grow --ondisk=sda
part pv.02 --fstype="lvmpv" --grow --ondisk=sdb
volgroup vg0 pv.01 pv.02
logvol / --fstype="xfs" --name=root --vgname=vg0 --grow --percent=100

%packages
@^minimal-environment
@guest-agents
@standard
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end